.comp-navigation-link {
    margin: 10px;
    overflow: hidden;

}
.anchor-tag {
    text-decoration: none;
    color: black;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;    
}